<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include header.html %}
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <div class="social">
          <ul>
            {%- if page.collection == "academia" %}{% for link in site.academic_social %}
              <li><a href="{{ link.link }}" target="_blank"><i class="{{ link.icon }}"></i></a></li>
            {%- endfor %}{% endif -%}
            {% for link in site.social %}
              <li><a href="{{ link.link }}" target="_blank"><i class="{{ link.icon }}"></i></a></li>
            {%- endfor %}
          </ul>
        </div>

        <nav> <ul class="fa-ul">
          <strong>Navigation</strong>
          {%- for i in site.urls %}
            {%- assign txt = i.text | downcase %}
            {%- assign coll = "NO" %}
            {%- if txt == page.collection %}
              {%- assign coll = "YES" %}
            <li><span class="fa-li"><i class="fa fa-minus-circle fa-xs"></i></span>
            {%- else %}
              {%- for collection in site.collections %}{% if txt == collection.label %}
            <li><span class="fa-li"><i class="fa fa-plus-circle fa-xs"></i></span>
              {%- assign coll = "YES"-%}
              {% endif %}{% endfor %}
            {%- endif %}{% if coll == "NO" %}
            <li><span class="fa-li"><i class="fa fa-circle fa-xs"></i></span>
            {%- endif -%}
            {%- if i.url == page.url -%}
              {{ i.text }}
            {%- else -%}
              <a class="about" href="{{ i.url | absolute_url}}">{{ i.text }}</a>
            {%- endif -%}
            {%- if txt == page.collection -%}
            <ul style="margin: 0px 0px 0px -26px;">
            {%- for j in site[page.collection] %}
              <li>
              {%- if j.url == page.url -%}
                {{ j.title }}
              {%- else -%}
                <a class="about" href="{{ j.url | absolute_url }}">{{ j.title }}</a>
              {%- endif -%}
              </li>
            {%- endfor %}
            </ul>
            {%- endif -%}
          </li>
          {%- endfor %}
        </ul> </nav>
      </header>
      <section>
      {{ content }}
      </section>
{% include footer.html %}
  </body>
</html>